body {
    background: #eef2f3;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding: 25px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
